.FormButton-component {
    display: inline-block;
    height: 33px;
    position: relative;
}

#page-action-modal {
    height: 45px;
    z-index: 10;
    right: 0;
    position: absolute;
    box-shadow: 0px 0px 0px transparent;
    transition: background-color 1s, height .5s, width .5s, left 1s, box-shadow .75s;

    &.gamicenter-button {
        padding: 0;
        .default-button-text { padding: 1.1rem 3rem; }
    }

    .become-title {
        height: 50px;
        white-space: nowrap;
        transition: background-color 1s, height 1s, width 1s, left 1s, font-size 1s, font-weight 1s;
        top: 0;
        position: sticky;
        padding: 1rem;
        margin: 0 -1rem;
        background-color: RGBA(255, 255, 255, 0.85);
    }

    &.triggered {
        z-index: 2;
        padding: 0 3rem;
        background-color: white;
        height: 530px;
        color: black;
        cursor: default;
        overflow: overlay;
        box-shadow: 0px 2px 15px 1px RGBA(0, 0, 0, 0.3);

        .become-title {
            font-family: cursive;
            font-size: 135%;
            font-weight: 600;
            text-align: left;
        }

        .page-action-modal-toggle {
            display: block;
        }
    }
}

#page-action-modal-wrapper {
    z-index: -1000;
    opacity: 0;
    transition: opacity 1s;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: RGBA(0, 0, 0, 0.5);

    &.triggered {
        z-index: 1;
        opacity: 1;
    }
}

.page-action-modal-toggle {
    display: none;
    text-align: left;

    .field-input {
        padding: 0.5rem 0;

        .field-label {
            color: black;
            font-size: 85%;
        }

        .link-for-sample {
            line-height: 70%;
            font-size: 70%;
            text-decoration: underline;
            a { color: blue; }
        }

        input {
            padding: 0.25rem 0.75rem;
        }

        .gamicenter-imageUploader {
            box-shadow: 0px 0px 1px 0px RGBA(0, 0, 0, 0.3);

            .image-preview {
                height: 130px;
                text-align: center;
                padding: .5rem 1rem;
                position: relative;
                cursor: default;

                .close-btn {
                    position: absolute;
                    top: 0;
                    right: 0;
                    padding: .5rem .75rem;
                    background: RGBA(255, 255, 255, 0.5);
                    border-radius: 50%;
                    z-index: 1;
                    cursor: pointer;
                }

                .image-holder { cursor: pointer; }

                .previewer-image,
                .previewer-placeholder {
                    position: relative;
                    top: 50%;
                    transform: translateY(-50%);
                }
                .previewer-placeholder {
                    border: 1px solid black;
                    padding: 3rem;
                    border-radius: 15px;
                    opacity: 0.2;
                }
            }

            .upload-action {
                text-align: center;

                .upload-button {
                    border-color: #660033;
                    border-width: 2px;
                    color: #660033;
                    background-color: RGBA(155, 0, 75, 0.15);
                    margin: 0;
                    font-size: 75%;
                    padding: .5rem 1.5rem;
                    margin-bottom: .75rem;
                    border-radius: 10px;
                }

                .upload-input {
                    display: none;
                }
            }

            input { font-size: 80%; max-width: 100%; cursor: pointer; }
        }

        .switch-button { vertical-align: middle; }
    }
}
