.gami-guide-page {
    background-color: #EDEDED;
    padding: 3rem;

    hr {
        height: 2px;
        background-color: RGBA(255, 0, 125, 0.2);
        border: none;
    }

    .doc-table-row {
        .doc-table-cell {
            border: 1px solid lightgray;
            padding: 1rem;
            min-width: 8rem;
            max-width: 37rem;

            &.header-cell {
                font-weight: bolder;
                text-align: center;
            }
        }
    }

    .anchor-target {
        padding-top: 5rem;
        margin-top: -5rem;
        padding-bottom: 1rem;
        background-color: transprent;

        &.highlighted {
            background-color: lightgoldenrodyellow;
            padding-left: 7rem;
            padding-right: 3rem;
            margin-left: -7rem;
            margin-right: -3rem;
            padding-top: 1rem;
            margin-top: -1rem;
            transition: padding-top 1s, margin-top 1s, background-color 1.5s;
        }
    }
}