.top-navigation-bar {
    background-color: salmon;
    margin-top: -1px;
    height: 30px;

    .top-nav-item {
        display: inline-block;

        .top-nav-button,
        .top-nav-dropdown {
            color: green;
            border-color: transparent;
            padding: 0.5rem 1rem;
            margin: 0 1rem;
        }
    }
}