.TableListingPage-page {
    .page-actions {
        text-align: right;
        margin: auto;
        max-width: 100%;
    }

    .table-container {
        margin-top: 2rem;
        margin-bottom: 2rem;
        position: relative;

        .table-paginator-container {
            height: 4rem;

            .table-paginator {
                top: 1rem;
                right: 0;
                position: absolute;
                display: inline-block;

                .pagi-button {
                    cursor: pointer;
                    color: black;
                    text-decoration: none;

                    &:hover {
                        color: #FF0068;

                        .pagi-item {
                            border-color: #FF0068;
                        }
                    }
                }
            }
        }
    }

    .table-content {
        max-width: 100%;
        max-height: 60vh;
        overflow-x: auto;

        .table-content-wrapper {
            margin: auto;
            overflow: auto;
            background-color: #FDFDFD;
            border-top: 1px dashed #D0D0FD;
            border-left: 1px dashed #D0D0FD;

            .table-row {
                border-bottom: 1px double #D0D0FD;

                &.table-header .table-header-item {
                    padding: 10px 10px;
                    background-color: black !important;
                    color: white !important;
                    font-weight: 700;
                    font-size: 110%;
                    position: relative;

                    .sort-container {
                        right: 2px;
                        bottom: 2px;
                        padding: 5px;
                        position: absolute;
                        width: 20px;
                        height: 25px;
                        line-height: 20px;
                        text-align: center;
                        color: gray;
                        background-color: RGBA(255, 255, 255, 0.2);

                        &.active {
                            color: white;
                        }

                        &.fa-sort-down {
                            line-height: 10px;
                        }
                    }

                    .help-container {
                        text-align: left;

                        i {
                            right: 2px;
                            top: 2px;
                            padding: 5px;
                            position: absolute;
                            width: 25px;
                            height: 25px;
                            color: RGBA(255, 0, 125, 0.4);
                            cursor: pointer;

                            &:hover {
                                color: #FF0066;
                            }
                        }

                        .content-container {
                            top: 0;
                            right: 0;
                            width: 15rem;
                            display: none;
                            color: black;
                            font-size: 80%;
                            font-weight: 500;
                            padding: 0.35rem;
                            border-radius: 8px;
                            position: absolute;
                            background-color: #E0E0E0;
                            border: 1px solid #FF0066;

                            &.active {
                                display: block;
                            }

                            .close-btn {
                                text-align: right;
                                font-size: 50%;
                                margin-bottom: 0.5rem;
                            }

                            .content {
                                padding: .75rem 1.5rem;
                                padding-top: 0;
                            }
                        }

                        &.x-axis-adjustment {
                            .content-container {
                                right: -12.5rem;
                                z-index: 2;


                                .close-btn {
                                    text-align: left;
                                }
                            }
                        }
                    }
                }

                &:nth-child(even) {
                    .table-row-item {
                        background: RGBA(208, 208, 253, 0.2);
                    }
                }

                .table-row-item {
                    background: #FDFDFD;
                    padding: 7px 10px;
                    display: table-cell;
                    border-right: 1px dashed #D0D0FD;
                    word-wrap: break-word;
                    vertical-align: middle;
                }
            }
        }
    }
}