.TableListingPage-page {
    .page-actions {
        text-align: right;
        margin: auto;
        max-width: 100%;
        padding: 0 1.5rem;
    }

    .table-container {
        margin-top: 2rem;
        margin-bottom: 2rem;
        position: relative;
        padding: 0 1.5rem;

        .table-paginator {
            height: 4rem;
            width: 95rem;
            margin: auto;
            padding: 1rem;
            max-width: 100%;
            text-align: right;

            .pagi-button {
                cursor: pointer;
                color: black;
                text-decoration: none;

                &:hover {
                    color: #67b6ff;

                    .pagi-item {
                        border-color: #67b6ff;
                    }
                }
            }
        }
    }

    .mock-scroll-twin {
        overflow-x: auto;

        &.mock-scroll-top {
            div {
                height: 1px;
            }
        }
    }

    .table-content {
        max-width: 100%;
        // max-height: 60vh;

        .table-content-wrapper {
            margin: auto;
            min-height: 30vw;
            overflow: auto;
            background-color: #FDFDFD;
            border-top: 1px dashed #D0D0FD;

            .table-row {
                border-bottom: 1px double #D0D0FD;
                border-left: 1px dashed #D0D0FD;

                &.table-header .table-header-item {
                    padding: 15px 10px;
                    background-color: salmon !important;
                    color: white !important;
                    font-weight: 700;
                    font-size: 110%;
                    position: relative;

                    .sort-container {
                        right: 4px;
                        bottom: 2px;
                        position: absolute;

                        i {
                            width: 18px;
                            height: 18px;
                            padding: 5px;
                            text-align: center;
                            color: gray;
                            line-height: 1;
                            background-color: RGBA(255, 255, 255, 0.2);

                            &:hover { background-color: RGBA(255, 255, 255, 0.3); }

                            &.active {
                                color: white;
                            }

                            &.fa-sort-down {
                                line-height: 0;
                            }
                        }
                    }

                    .help-container {
                        text-align: left;
                        right: 2px;
                        top: 2px;
                        position: absolute;

                        i {
                            width: 22px;
                            height: 22px;
                            padding: 5px;
                            color: RGBA(255, 0, 125, 0.6);
                            cursor: pointer;

                            &:hover {
                                color: #67b6ff;
                            }
                        }

                        .content-container {
                            top: 0;
                            right: 0;
                            z-index: 2;
                            width: 15rem;
                            display: none;
                            color: black;
                            font-size: 80%;
                            font-weight: 500;
                            padding: 0.35rem;
                            border-radius: 8px;
                            position: absolute;
                            background-color: #E0E0E0;
                            border: 1px solid #67b6ff;

                            &.active {
                                display: block;
                            }

                            .close-btn {
                                text-align: right;
                                font-size: 50%;
                                margin-bottom: 0.5rem;
                            }

                            .content {
                                padding: .75rem 1.5rem;
                                padding-top: 0;
                            }
                        }

                        &.x-axis-adjustment {
                            .content-container {
                                right: -12.5rem;

                                .close-btn {
                                    text-align: left;
                                }
                            }
                        }
                    }
                }

                &:nth-child(even) {
                    .table-row-item {
                        background: RGBA(208, 208, 253, 0.2);
                    }
                }

                .table-row-item {
                    background: #FDFDFD;
                    padding: 7px 10px;
                    display: table-cell;
                    border-right: 1px dashed #D0D0FD;
                    word-wrap: break-word;
                    vertical-align: middle;
                    overflow: auto;

                    .html-cell-block {
                        max-height: 100px;
                        overflow: hidden;
                        position: relative;
                        margin: -4px;

                        &.full-mode {
                            max-height: unset;
                            .html-cell-container { border: 2px solid RGBA(125, 0, 66, 0.2); }
                        }

                        .html-cell-container { border: 2px dotted RGBA(125, 125, 125, 0.2); padding: 5px; }

                        .html-indicator {
                            transition: opacity .5s, padding .5s, height .5s;
                            opacity: 1;
                            height: auto;

                            &.code-type {
                                border: 1px solid white;
                                background-color: rgb(107, 106, 106);
                                color: white;
                                padding: .75rem 1rem;
                                border-radius: 5px;
                                display: inline-block;
                            }

                            &.hide-it {
                                opacity: 0;
                                height: 0;
                                padding: 0;
                                position: absolute;
                                left: 0;
                                overflow: hidden;
                            }
                        }

                        .toggle-actions {
                            position: absolute;
                            font-weight: 300;
                            font-size: 80%;
                            color: black;
                            bottom: 0px;
                            right: 0px;

                            .toggler {
                                border: 1px solid RGBA(255, 0, 125, 0.3);
                                display: inline-block;
                                padding: 2px;
                                background-color: white;
                                margin: 3px 4px 4px -2px;
                                cursor: pointer;

                                &.full-mode-toggler {
                                    padding: 2px 4px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}